# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.myenv/

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3

# Django-specific
db.sqlite3
media/
staticfiles/

# Environment variables
.env
